# =========================
# FRONTEND CONFIG
# =========================
# Vite dev server URL (e.g. http://localhost:5173) or production URL (e.g. https://myapp.com)
VITE_API_URL=

# The name of the app, used in the title and other places
VITE_APP_NAME=