# =========================
# DATABASE
# =========================

# DEV (backend in host, Postgres in Docker):
# DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/DB

# PROD (backend in Docker, Postgres in Docker):
# DATABASE_URL=postgresql://USER:PASSWORD@db:5432/DB
DATABASE_URL=

NODE_ENV=

PORT=3000
FRONTEND_URL=http://localhost:5173

# Google OAuth 2.0
# Create credentials at: https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# Generate with:
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=
JWT_EXPIRATION_HOURS=168