# DEV (backend en host, Postgres en Docker):
# DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/DB
# PROD (backend en Docker, Postgres en Docker):
# DATABASE_URL=postgresql://USER:PASSWORD@db:5432/DB
DATABASE_URL=

NODE_ENV=development

PORT=3000